<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src = "login.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="register.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="entry">
      <h2>REGISTRATION FORM</h2>
  <p>
  <form method="POST" action="/regiterToDb">
    <label><b>Username</b></label>
    <input name="uname" type="text" placeholder= "Enter Your Name"></p>
    <p>
    <label><b>Email</b></label>
    <input name="email" type="text" placeholder= "Enter Your Email"></p>
    <p>
    <label><b>Password</b></label>
    <input name="password" type="password" placeholder= "*******"></p>
    <p>
    <label><b>Phone</b></label>
    <input name="phone" type="text" placeholder= "Enter Your Phone No"></p>
    <p>
    <label><b>Education</b></label>
    <input name="education" type="text" placeholder= "Enter Your Education"></p>
    <p>
    <label><b>AOI</b></label>
    <input name="aoi" type="text" placeholder= "Enter Your Area Of Interest"></p>
    <p>
    
    <input type="submit" id="regForm" value="Register"/></p>
  </form>
</div>
</body>
</html>